@media screen{
  .multiFiles{
    background-color: #f1f1f1;
    border-radius: 4px;
    padding: 15px 10px 12px 25px;
    position: relative;
    @media (min-width: 768px){
      padding: 20px 15px 17px 30px;
    }
    .title{
      font-size: 18px;
      font-weight: bold;
    }
    input.form-control-file{
      background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      width: 100%;
      height: calc(1.6em + 0.75rem + 2px);
      padding: 3px 5px;
    }
    .fileRow{
      margin-top: 20px;
      margin-bottom: 8px;
      @media (min-width: 480px){
        margin-top: 0;
      }
    }
    .btn-addFile{
      position: absolute;
      top: 12px;
      right: 25px;
      @media (min-width: 768px){
        top: 16px;
        right: 30px;
      }
    }
  }

  .attachedFiles{
    h5{
      font-size: 15px;
      padding-right: 15px;
    }
    small{
      font-size: 10px;
    }
  }
}
