// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: source-sans-pro, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$primary-font: source-sans-pro, sans-serif;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #5c068c;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light-gray: #eae8e8;
$white: #ffffff;
$blue: #010d6f;
$darkBlue: #010a55;
$darkRed: #cf171f;
$error: #f44336;
